* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;
}

a,
a:hover {
  text-decoration: none;
}

img {
  pointer-events: none;
}

.fw-bold {
  font-weight: bold;
}

.d-none {
  display: none;
}

/* SIDEBAR */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9997;
  width: 300px;
  overflow-y: auto;
  background-color: #040c20;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1199px) {
  header {
    left: -300px;
    width: 300px;
    box-shadow: none;
    transition: left 0.3s ease;
  }
}

/* Hamburger Menu */
.hamburger-menu-toggle {
  display: none;
}

@media screen and (max-width: 1199px) {
  .hamburger-menu-button {
    position: fixed;
    top: 1.3em;
    left: 1.3em;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em;
    cursor: pointer;
    background-color: #262d41;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .hamburger-menu-content,
  .hamburger-menu-content::before,
  .hamburger-menu-content::after {
    display: block;
    width: 2.5em;
    height: 0.2em;
    content: "";
    background-color: #c4cbe4;
    transition: all 0.3s ease;
  }

  .hamburger-menu-content::before,
  .hamburger-menu-content::after {
    position: absolute;
  }

  .hamburger-menu-content::before {
    transform: translateY(-10px);
  }

  .hamburger-menu-content::after {
    transform: translateY(10px);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content {
    transform: rotate(45deg);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content::before {
    transform: rotate(-90deg);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content::after {
    transform: rotate(-90deg);
  }
}

#sidebar-menu-toggle:checked ~ header {
  left: 0;
}

.sidebar-shade {
  visibility: hidden;
  background-color: rgba(15, 15, 15, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}

#sidebar-menu-toggle:checked ~ .sidebar-shade {
  position: fixed;
  inset: 0;
  z-index: 12;
  visibility: visible;
  opacity: 1;
}

/* Profile */
header .profile > img {
  display: block;
  width: 40%;
  margin: 1.3em auto;
  border: 10px solid #262d41;
  border-radius: 100%;
}

header .profile > h1 {
  margin-bottom: 0.5em;
  font-size: 2.3em;
  text-align: center;
}

header .profile > h1 a {
  color: #ffffff;
}

header .profile .social-links {
  margin-bottom: 2.5em;
  text-align: center;
}

header .profile .social-links a {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding: 0.6em;
  margin-right: 0.5em;
  background-color: #262d41;
  border-radius: 100%;
  transition: 0.3s;
}

header .profile .social-links a img {
  width: 1.2em;
}

header .profile .social-links a:hover,
header .profile .social-links a:active {
  background-color: #575d73;
}

/* Navigation */
nav .nav-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  row-gap: 2em;
  list-style: none;
}

nav .nav-list a {
  display: flex;
  justify-content: center;
  padding: 0.8em;
  margin: 0 3em;
  font-size: 1.3em;
  color: #ededed;
  background-color: #262d41;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

nav .nav-list a:hover,
nav .nav-list a:active {
  background-color: #575d73;
}

nav .nav-list a img {
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.4em;
  vertical-align: text-top;
}

/* MAIN */
main {
  margin-left: 300px;
}

@media screen and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}

main .portfolio-section:nth-child(odd) {
  background-color: #eff6ff;
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  pointer-events: none;
  background: url("../assets/images/bg-hero.jpg") top center;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 1190px) {
  #hero {
    background-attachment: local;
  }
}

#hero::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: rgba(15, 15, 15, 0.3);
  box-shadow: inset 0 -7vh 4vh -3vh #ffffff;
}

#hero .hero-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4em;
  color: #ffffff;
}

#hero h1 {
  margin-bottom: 0.3em;
  font-size: 4.5em;
  font-weight: bold;
  text-shadow: 0.015em 0 #000000, -0.015em 0 #000000, 0 0.015em #000000,
    0 -0.015em #000000;
}

#hero h2 {
  font-size: 1.7em;
  font-weight: normal;
  text-shadow: 0.015em 0 #000000, -0.015em 0 #000000, 0 0.015em #000000,
    0 -0.015em #000000;
}

.floating-chevron-down {
  width: 3em;
  height: 3em;
  pointer-events: fill;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Portfolio Section */
.portfolio-section {
  padding: 2.5em 7%;
}

@media screen and (max-width: 1199px) {
  .portfolio-section {
    padding: 2.5em 4%;
  }
}

.portfolio-section h1 {
  font-size: 2em;
  margin-bottom: 0.6em;
}

.portfolio-section > h1::after {
  display: block;
  width: 2em;
  height: 0.1em;
  margin-top: 0.6em;
  content: "";
  background-color: #575d73;
}

/* Portfolio Section - About */
.portfolio-section#about p {
  font-size: 1.2em;
}

/* Portfolio Section - Skills */
.portfolio-section#skills {
  position: relative;
}

.portfolio-section#skills > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6em;
}

@media screen and (max-width: 767px) {
  .portfolio-section#skills > .container {
    grid-template-columns: repeat(1, 1fr);
    max-height: 50vh;
    overflow: hidden;
    transition: max-height 0.3s ease, padding-bottom 0.15s ease;
  }
}

/* Show More/Less Toggle */
.show-more-toggle,
.show-more-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .show-more-button {
    display: inline;
  }
}

.show-more-button {
  position: absolute;
  z-index: 9996;
  bottom: 1em;
  padding: 1em;
  cursor: pointer;
  background-color: #262d41;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.show-more-button::after {
  font-size: 1.5em;
  font-weight: bold;
  color: #ededed;
  content: "Show More";
}

.show-more-button:hover,
.show-more-button:active {
  background-color: #575d73;
}

.show-more-toggle:checked + .show-more-button::after {
  content: "Show Less";
}

#skills-show-more-toggle:checked ~ .container {
  padding-bottom: 3em;
  max-height: 200vh;
}

/* Skill Lists */
.portfolio-section#skills .skill-category h2 {
  margin-bottom: 0.8em;
  font-size: 1.6em;
}

.portfolio-section#skills .skill-category ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4em;
  column-gap: 1em;
  row-gap: 0.4em;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .portfolio-section#skills .skill-category ul {
    display: block;
  }
}

.portfolio-section#skills .skill-category li {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  font-size: 1.2em;
}

@media screen and (max-width: 1199px) {
  .portfolio-section#skills .skill-category li {
    margin-bottom: 0.4em;
  }
}

.portfolio-section#skills .skill-category li img {
  width: 1.6em;
}

/* Portfolio Section - Resume */
.portfolio-section#resume h2 {
  margin-bottom: 0.8em;
  font-size: 1.6em;
}

.portfolio-section#resume p {
  font-size: 1.2em;
}

.portfolio-section#resume .no-experience-placeholder {
  margin-bottom: 1.6em;
}

.portfolio-section#resume .experience-list {
  list-style: none;
}

.portfolio-section#resume .experience-list h3 {
  margin-bottom: 0.8em;
  font-size: 1.3em;
}

.portfolio-section#resume .experience-list li {
  margin-bottom: 1.6em;
}

.portfolio-section#resume .experience-list .description-list {
  padding-left: 1em;
  list-style-type: disc;
}

.portfolio-section#resume .experience-list .description-list li {
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

.portfolio-section#resume .education-list {
  padding-left: 1em;
  list-style-type: disc;
}

.portfolio-section#resume .education-list li {
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

/* Portfolio Section - Projects */
.portfolio-section#projects {
  position: relative;
}

.portfolio-section#projects > .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

@media screen and (max-width: 767px) {
  .portfolio-section#projects > .container {
    max-height: 80vh;
    gap: 0.5em;
    overflow: hidden;
    transition: max-height 0.3s ease, padding-bottom 0.15s ease;
  }
}

/* Show More/Less Toggle */
#projects-show-more-toggle:checked ~ .container {
  padding-bottom: 3.2em;
  max-height: 240vh;
}

/* Project */
.portfolio-section#projects .project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0.5;
  width: 30%;
  padding: 0.8em;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

@media screen and (max-width: 1199px) {
  .portfolio-section#projects .project {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-section#projects .project {
    width: 100%;
    margin: 5px;
  }
}

.portfolio-section#projects .project .title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
}

.portfolio-section#projects .project .title h2 {
  font-size: 2em;
}

.portfolio-section#projects .project .title .tags {
  display: flex;
  column-gap: 0.6em;
}

.portfolio-section#projects .project .title .tags img {
  width: 1.8em;
}

.portfolio-section#projects .project .divider {
  margin: 0.5em 0;
  width: 100%;
  height: 0.2em;
  background-color: #575d73;
}

.portfolio-section#projects .project p {
  font-size: 1.2em;
}

.portfolio-section#projects .project .links {
  display: flex;
  justify-content: space-around;
}

.portfolio-section#projects .project .links a {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  font-size: 1.2em;
  font-weight: bold;
  color: #575d73;
  transition: 0.3s;
}

.portfolio-section#projects .project a:hover,
.portfolio-section#projects .project a:active {
  color: #000000;
}

.portfolio-section#projects .project a img {
  width: 1.6em;
}

/* Portfolio Section - Contact */
.portfolio-section#contact .no-javascript-notice {
  margin-bottom: 1.6em;
  font-size: 1.3em;
  font-style: italic;
  text-decoration: underline;
}

.portfolio-section#contact > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.6em;
  column-gap: 5em;
  row-gap: 1.8em;
}

@media screen and (max-width: 767px) {
  .portfolio-section#contact > .container {
    display: block;
  }

  .portfolio-section#contact div {
    margin-bottom: 1.6em;
  }
}

.portfolio-section#contact h2 {
  margin-bottom: 0.6em;
  font-size: 1.6em;
}

.portfolio-section#contact p {
  font-size: 1.2em;
  color: #575d73;
}

.portfolio-section#contact a {
  color: #575d73;
  transition: 0.3s;
}

.portfolio-section#contact a:hover,
.portfolio-section#contact a:active {
  color: #000000;
}

.portfolio-section#contact .social-links a {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding: 0.6em;
  margin-right: 0.6em;
  background-color: #262d41;
  border-radius: 100%;
  transition: 0.3s;
}

.portfolio-section#contact .social-links a img {
  width: 1.2em;
}

.portfolio-section#contact .social-links a:hover,
.portfolio-section#contact .social-links a:active {
  background-color: #575d73;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 3em;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #040c20;
}

@media screen and (max-width: 1199px) {
  footer {
    left: -300px;
    transition: left 0.3s ease;
    width: 300px;
  }

  #sidebar-menu-toggle:checked ~ footer {
    left: 0;
  }
}
