body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;
}

a,
a:hover {
  text-decoration: none;
}

.fw-bold {
  font-weight: bold;
}

img {
  pointer-events: none;
}

/* SIDEBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 3em;
  z-index: 9997;
  width: 300px;
  overflow-y: auto;
  background-color: #181628;
}

@media screen and (max-width: 1199px) {
  header {
    left: -300px;
    transition: left 0.3s ease;
    width: 300px;
  }
}

/* Hamburger Menu */
.hamburger-menu-toggle {
  display: none;
}

@media screen and (max-width: 1199px) {
  .hamburger-menu-button {
    position: fixed;
    top: 1.3em;
    left: 1.3em;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em;
    cursor: pointer;
    background-color: #39364a;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .hamburger-menu-content,
  .hamburger-menu-content::before,
  .hamburger-menu-content::after {
    display: block;
    width: 2.5em;
    height: 0.2em;
    content: "";
    background-color: #cfc7e2;
    transition: all 0.3s ease;
  }

  .hamburger-menu-content::before,
  .hamburger-menu-content::after {
    position: absolute;
  }

  .hamburger-menu-content::before {
    transform: translateY(-10px);
  }

  .hamburger-menu-content::after {
    transform: translateY(10px);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content {
    transform: rotate(45deg);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content::before {
    transform: rotate(-90deg);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content::after {
    transform: rotate(-90deg);
  }
}

#sidebar-menu-toggle:checked ~ header {
  left: 0;
}

.sidebar-shade {
  visibility: hidden;
  background-color: rgba(15, 15, 15, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}

#sidebar-menu-toggle:checked ~ .sidebar-shade {
  position: fixed;
  inset: 0;
  z-index: 12;
  visibility: visible;
  opacity: 1;
}

/* Profile */
header .profile > img {
  display: block;
  width: 33%;
  margin: 1.3em auto;
  border: 10px solid #39364a;
  border-radius: 100%;
}

header .profile > h1 {
  margin-bottom: 0.5em;
  font-size: 2.3em;
  text-align: center;
}

header .profile > h1 a {
  color: #ffffff;
}

header .profile .social-links {
  margin-bottom: 2em;
  text-align: center;
}

header .profile .social-links a {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  margin-right: 0.4em;
  background-color: #39364a;
  border-radius: 100%;
  transition: 0.3s;
}

header .profile .social-links a img {
  width: 1em;
}

header .profile .social-links a:hover,
header .profile .social-links a:active {
  background-color: #6b677e;
}

/* Navigation */
nav .nav-list {
  padding-left: 2.5em;
  list-style: none;
}

nav .nav-list li {
  margin-bottom: 2em;
}

nav .nav-list a {
  font-size: 1.2em;
  color: #d4d4d4;
  transition: 0.3s;
}

nav .nav-list a:hover {
  color: #ffffff;
}

nav .nav-list a img {
  width: 1em;
  margin-right: 0.4em;
  vertical-align: text-top;
}

/* MAIN */
main {
  margin-left: 300px;
}

@media screen and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}

main .portfolio-section:nth-child(odd) {
  background-color: #f3f7fd;
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  pointer-events: none;
  background: url("../assets/images/bg-hero.jpg") top center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: rgba(15, 15, 15, 0.3);
}

#hero .hero-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #ffffff;
}

#hero h1 {
  margin-bottom: 0.3em;
  font-size: 4.5em;
  font-weight: bold;
}

#hero h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* Portfolio Section */
.portfolio-section {
  padding: 2.5em 5%;
}

.portfolio-section h1 {
  font-size: 2em;
  margin-bottom: 0.6em;
}

.portfolio-section > h1::after {
  display: block;
  width: 2em;
  height: 0.1em;
  margin-top: 0.6em;
  content: "";
  background-color: #6b677e;
}

.portfolio-section:last-child {
  margin-bottom: 1.6em;
}

/* Portfolio Section - About */
.portfolio-section#about p {
  font-size: 1.2em;
}

/* Portfolio Section - Skills */
.portfolio-section#skills .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.6em;
}

@media screen and (max-width: 1199px) {
  .portfolio-section#skills .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.portfolio-section#skills .skill-category h2 {
  margin-bottom: 0.8em;
  font-size: 1.6em;
}

.portfolio-section#skills .skill-category ul {
  list-style: none;
}

.portfolio-section#skills .skill-category li {
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
  font-size: 1.2em;
}

.portfolio-section#skills .skill-category li img {
  width: 1.6em;
  margin-right: 0.3em;
}

/* Portfolio Section - Resume */
.portfolio-section#resume h2 {
  margin-bottom: 0.8em;
  font-size: 1.6em;
}

.portfolio-section#resume p {
  font-size: 1.2em;
}

.portfolio-section#resume .no-experience-placeholder {
  margin-bottom: 1.6em;
}

.portfolio-section#resume .experience-list {
  list-style: none;
}

.portfolio-section#resume .experience-list h3 {
  margin-bottom: 0.8em;
  font-size: 1.3em;
}

.portfolio-section#resume .experience-list li {
  margin-bottom: 1.6em;
}

.portfolio-section#resume .experience-list .description-list {
  padding-left: 1em;
  list-style-type: disc;
}

.portfolio-section#resume .experience-list .description-list li {
  margin-bottom: 0.2em;
  font-size: 1.2rem;
}

.portfolio-section#resume .education-list {
  padding-left: 1em;
  list-style-type: disc;
}

.portfolio-section#resume .education-list li {
  margin-bottom: 0.2em;
  font-size: 1.2rem;
}

/* Portfolio Section - Projects */

/* Portfolio Section - Contact */
.portfolio-section#contact .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5em;
  row-gap: 1.8em;
}

.portfolio-section#contact h2 {
  margin-bottom: 0.6em;
  font-size: 1.6em;
}

.portfolio-section#contact p {
  font-size: 1.2em;
  color: #6b677e;
}

.portfolio-section#contact a {
  color: #6b677e;
}

.portfolio-section#contact .social-links a {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  padding: 0.6em;
  margin-right: 0.6em;
  background-color: #39364a;
  border-radius: 100%;
  transition: 0.3s;
}

.portfolio-section#contact .social-links a img {
  width: 1.2em;
}

.portfolio-section#contact .social-links a:hover,
.portfolio-section#contact .social-links a:active {
  background-color: #6b677e;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 3em;
  font-size: 1em;
  color: #ffffff;
  background-color: #181628;
}

@media screen and (max-width: 1199px) {
  footer {
    left: -300px;
    transition: left 0.3s ease;
    width: 300px;
  }

  #sidebar-menu-toggle:checked ~ footer {
    left: 0;
  }
}
