body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

.fw-bold {
  font-weight: bold;
}

img {
  pointer-events: none;
}

/* SIDEBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 50px;
  z-index: 9997;
  width: 300px;
  overflow-y: auto;
  background-color: #181628;
}

@media screen and (max-width: 1199px) {
  header {
    left: -300px;
    transition: left 0.3s ease;
    width: 300px;
  }
}

/* Hamburger Menu */
.hamburger-menu-toggle {
  display: none;
}

@media screen and (max-width: 1199px) {
  .hamburger-menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .hamburger-menu-content,
  .hamburger-menu-content::before,
  .hamburger-menu-content::after {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #eeeeee;
    content: "";
    transition: all 0.3s ease;
  }

  .hamburger-menu-content::before,
  .hamburger-menu-content::after {
    position: absolute;
  }

  .hamburger-menu-content::before {
    transform: translateY(-10px);
  }

  .hamburger-menu-content::after {
    transform: translateY(10px);
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content {
    transform: rotate(45deg);
    background-color: #eeeeee;
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content::before {
    transform: rotate(-90deg);
    background-color: #eeeeee;
  }

  .hamburger-menu-toggle:checked
    + .hamburger-menu-button
    .hamburger-menu-content::after {
    transform: rotate(-90deg);
    background-color: #eeeeee;
  }
}

#sidebar-menu-toggle:checked ~ header {
  left: 0;
}

.sidebar-shade {
  visibility: hidden;
  background-color: rgba(15, 15, 15, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}

#sidebar-menu-toggle:checked ~ .sidebar-shade {
  position: fixed;
  inset: 0;
  z-index: 12;
  visibility: visible;
  opacity: 1;
}

/* Profile */
header .profile > img {
  display: block;
  width: 33%;
  margin: 20px auto;
  border: 10px solid #2f293e;
  border-radius: 100%;
}

header .profile > h1 {
  text-align: center;
}

header .profile > h1 a {
  color: #ffffff;
}

header .profile .social-links {
  text-align: center;
}

header .profile .social-links a {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  margin-right: 6px;
  background-color: #2f293e;
  border-radius: 100%;
  transition: 0.3s;
}

header .profile .social-links a img {
  width: 18px;
}

header .profile .social-links a:hover,
header .profile .social-links a:active {
  background-color: #605b9b;
}

/* Navigation Menu */
nav .nav-list {
  margin-top: 36px;
  list-style: none;
}

nav .nav-list li {
  margin-bottom: 18px;
}

nav .nav-list a {
  font-size: 18px;
  color: #d4d4d4;
  transition: 0.3s;
}

nav .nav-list a:hover {
  color: #ffffff;
}

nav .nav-list a img {
  width: 18px;
  margin-right: 6px;
  vertical-align: text-top;
}

/* MAIN */
main {
  margin-left: 300px;
}

@media screen and (max-width: 1199px) {
  main {
    margin-left: 0;
  }
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  pointer-events: none;
  background: url("../assets/images/bg-hero.jpg") top center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: rgba(15, 15, 15, 0.3);
}

#hero .hero-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #ffffff;
}

#hero h1 {
  margin-bottom: 10px;
  font-size: 60px;
}

#hero h2 {
  font-size: 24px;
  font-weight: normal;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9998;
  width: 300px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #181628;
}

@media screen and (max-width: 1199px) {
  footer {
    left: -300px;
    transition: left 0.3s ease;
    width: 300px;
  }

  #sidebar-menu-toggle:checked ~ footer {
    left: 0;
  }
}
